#root {
  margin: 0;
  padding: 0;
  text-align: center;
}





/* NEW STYLING FROM HERE ON */
.colorPalette {
  color: #BA8F58;
  color: #CC9901;
  color: #DAA520;
  color: #FAE59B;
  color: #c39491;
  color: #7C0B12;
  color: #52090E;
  color: #1B1811;

}

.App {
  width: 1280px;
  background-color: antiquewhite;
}

#navbar {
  padding: 1rem;
  background: linear-gradient(to bottom, #52090E, #BA8F58, antiquewhite);

  height: 30vh;
  color: white;
  text-shadow: 2px 2px 8px #7C0B12, -2px -2px 8px #BA8F58, 2px 2px 4px black, -2px -2px 4px black;
}

#content {
  min-height: 70vh;
  color: #52090E;
}

.sidebar a {
  color: #f1f1f1;
}

#footer {
  padding: 1rem;
  text-align: center;
  background-color: #c39491;
  box-shadow: 0 -10px 10px 0 #c39491;
  height: 10vh
}

#footer a {
  color: black;
  text-shadow: 2px 2px 8px #7C0B12, -2px -2px 8px #BA8F58
}

#homepageList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.listedItem {
  background-color: #FAE59B;
  color: #52090E;
  border: solid #52090E 3px;
  border-radius: 10px;
  list-style: none;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

}

li {
  list-style: none;
}

#itemInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 0 20px 0 20px;
}

#cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.itemIMG {
  border-radius: 10px;
  margin: 20px;
  border: solid #52090E 3px;
  width: 170px;
  height: 170px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #52090E;
  justify-content: center;
  align-items: center;
}

.buttonStyling,
button {
  background-color: #52090E;
  border: solid #DAA520 4px;
  color: #ffd7d4;
}

.detailsBTN a,
.buttonStyling a {
  color: #ffd7d4;
}

.aboutUsContainer {
  color: #52090E;
  padding: 0 30px 30px 30px;
}

.detailsCard {
  width: 700px;

}

.productDescription {
  text-align: left;
  font-style: italic;
}

.categoryLabel {

  text-align: left;
}

.categoryLabel span {
  background-color: #f0bab6;
  color: #1B1811;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #c39491;
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 300px;
  /* Hidden by default */
  width: 200px;
  /* Sidebar width */
  height: 50%;
  background-color: #6b1212;
  color: white;
  transition: left 0.3s ease-in-out;
  /* Smooth animation */
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* Ensure it's above content */
}

.sidebar.visible {
  left: 0;
  /* Slide in */
  display: flex
}

/* Hamburger Menu */
.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}

.biggestDiv {
  margin: 0 auto;
  color: #52090E;
}

.actionBTNs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.titleAndPic img {
  max-height: 300px;
}

.justUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

#mariiasDiv,
#lenasDiv {
  padding: 30px;
  width: 400px;
  background: radial-gradient(ellipse, antiquewhite, #FAE59B);
  border-radius: 30px;
}

#mariiasDiv img,
#lenasDiv img {
  height: 200px;
}