#root {
  margin: 0;
  padding: 0;
  text-align: center;
}





/* NEW STYLING FROM HERE ON */
.colorPalette {
  color: #BA8F58;
  color: #CC9901;
  color: #DAA520;
  color: #FAE59B;
  color: #c39491;
  color: #7C0B12;
  color: #52090E;
  color: #1B1811;

}

.App {
  width: 1280px;
  background-color: antiquewhite;
}

#navbar {
  padding: 1rem;
  background-color: #c39491;
  color: white;
  height:10vh
}

#content{
  min-height:70vh;
}
/* 
.sidebar {

  background-color: #52090E;
  color: #FAE59B;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;

  box-shadow: 2px 0 5px #1B1811;
  border: solid #1B1811 4px;

} */


.sidebar a {
  color: #f1f1f1;
}

#footer {
  padding: 1rem;
  text-align: center;
  background-color: #f1f1f1;
  height:10vh
}

#homepageList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.listedItem {
  background-color: #FAE59B;
  color: #52090E;
  border: solid #52090E 3px;
  border-radius: 10px;
  list-style: none;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

}

li {
  list-style: none;
}

#itemInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 0 20px 0 20px;
}

#cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  /* change this so the price and the title are in differet corners of the div */
}

.itemIMG {
  border-radius: 10px;
  margin: 20px;
  border: solid #52090E 3px;
  width: 170px;
  height: 170px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #52090E;
  justify-content: center;
  align-items: center;
}

#addItemBTN,
button {
  background-color: #52090E;
  border: solid #7C0B12 4px;
  color: #ffd7d4;
}

.detailsBTN a {
  color: #ffd7d4;
}

.aboutUsContainer {
  color: #52090E;
  padding: 0 30px 30px 30px;
}

.detailsCard {
  width: 700px;

}

.productDescription {
  text-align: left;
  font-style: italic;
}

.categoryLabel {

  text-align: left;
}

.categoryLabel span {
  background-color: #f0bab6;
  color: #1B1811;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #c39491;
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 300px; /* Hidden by default */
  width: 300px; /* Sidebar width */
  height:80%;
  background-color: #6b1212;
  color: white;
  transition: left 0.3s ease-in-out; /* Smooth animation */
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999; /* Ensure it's above content */
}

.sidebar.visible {
  left: 0; /* Slide in */
  display: flex
}

/* Hamburger Menu */
.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}